/* Comments work like this */
.test {
    background-color:rgb(70, 62, 139);
    padding: 15px;
    font-size: 24px;
    width: 40%;
    overflow-wrap: break-word;
}

#submit {
    width: 100%;
    height: 100px;
    font-size: 24px;
    background-color:rgb(138, 54, 106);
}

.input {
    width: 100%;
    height: 600px;
    max-height: 700px;
    overflow: normal;
    background-color:rgb(41, 9, 41);
    color:rgb(255, 255, 240);
}

body {
    background-color:rgb(22, 12, 12);
    color:rgb(255, 250, 205)
}

#entryarea {
    width: 40%;
    float: right;
}

#testbox {
    float: left;
    width: 58%
}

#box {
    overflow: hidden
}

.display {
    max-height: 700px;
    overflow: scroll;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-width: 2px;
    background-color:rgb(39, 33, 90);
    border-color:rgb(17, 17, 17);
}

#continuetogenetester {
    padding: 3%;
    font-size: 150%;
    font-weight: bold;
    float: left;
}

#generatebbcode {
    padding: 5%;
    margin-left: 10%;
    background-color:rgb(72, 204, 197);
    z-index: 69;
}

#bbcodebutton {
    float: right;
    font-size: 150%;
    font-weight: bold;
    padding: 5%
}