/* Comments work like this */
div {
    font-family: "Courier New";
    color: white;
}

#container {
    border-radius: 15% 10%;
    margin: .5%;
    padding: 3%;
    background-color:rgb(46, 46, 49);
    outline: rgb(51, 40, 216) 1px solid;
    display: flex;
 }

#col1 {
    width: 30%;
    outline: red 1px solid;
    display: flexbox;
    flex-direction: column;
}

#icon-and-id {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#home-link {
    max-width: 40%;
}

.toPCE {
    margin-left: 5px;
}

.scaleUpImage {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-left: 20px;
}


#logo {
    max-width: 90px;
    margin-right: 50px;
}

#cat-id {
    font-size: 230%;
}

#col1-subcol {
    display: flex;
    align-items: flex-start;
    padding: 1%;
    background-color:rgba(33, 23, 170, 0.651);
}

#col1-subcol1 {
    display: flex;
    flex-direction: column;
    background-color: purple;
    border-radius: 3%;
    padding: 2%;
    max-width: 50%;
    align-self: flex-start;
}

#col1-subcol2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 65, 221);
    border-radius: 3%;
    padding: 1%;
}

#cat-name-image-pronouns {
    outline: 1px solid rgb(102, 75, 75);
}

#cat-name {
    font-size: 150%;
    text-align: center;
}

#catjail-container {
    text-align: center;
}

#cat-pronouns {
    font-size: 120%;
    text-align: center;
}

#wind-personality-aspect-travelling {
    outline: 1px solid rgb(102, 75, 75);
    padding: 2%;
}

.symbols {
    padding-right: 3%;
    display: flex;
    align-self: center;
}

.data-point {
    display: flex;
    background-color: rgba(173, 233, 183, 0.486);
}

.sub-data-container {
    display: flex;
}

#birthday-age-origin {
    outline: 1px solid rgb(102, 75, 75);
    padding: 2%;
}

.data-container {
    outline: 1px solid rgb(106, 247, 240);
    flex-direction: row;
    display: flex; 
    justify-content: space-between;
}

.demographics-label {
    display: flex;
    background-color: rgba(255, 255, 0, 0.24);
}

#genestring {
    background-color:rgba(240, 87, 146, 0.363);
    padding: 2%
}

.info-right {
    align-self: flex-start;
    padding-right: 5%
}

.physical-traits-label {
    display: flex;
}

#physicaltraits {
    outline: 1px solid rgb(102, 75, 75);
    padding: 2%;
}

#genetest-and-bbcode-buttons {
    justify-content: center;
    display: flex;
}

.my-buttons {
    display: flex;
    padding: 5%;
    margin-top: 3%;
}

#col2 {
    outline: 1px solid aqua;
    max-width: 20%;
    display: flexbox;
    flex-direction: column;
    border-radius: 3%;
}

#held-trinket-section {
    outline: 1px solid rgb(204, 95, 207);
    padding: 2%;
    display: flex;
    flex-direction: row;
}

#trinket-image {
    align-self: flex-start
}

#trinket-info {
    align-self: flex-start;
}

#personality-stats {
    background-color:rgba(101, 96, 172, 0.726);
}

.cat-personality-stats {
    display: flex;
    align-items: center;
    border-radius: 3%;
    
}


#personality-stats {
    padding: 5%;
}

.personality-bars {
    background-color: rgba(255, 36, 36, 0.432);
    width: 100%;
    margin-left: 5%;
    position: relative;
}

.bar-value {
    display: flex;
    background-color:rgb(33, 23, 170);
    width: 50%;
    text-align: left;
}

.bar-text {
    margin-left: 5px;
}

.personality-label {
    width: 40%;
    text-align: right;

}

#attribute-stats {
    outline: 1px solid rgb(253, 210, 255);
    padding: 2%;
}

.attribute-box-container {
    background-color: rgb(143, 121, 206);
    display: flex;
    flex-direction: row;
}

.attribute-box {
    width:23%;
    background-color:rgb(156, 78, 78);
    margin-bottom: 3%;
    text-align: center;
    display: inline-block;
    border-radius: 5%;
    padding: 1%;
}

.attribute-title {
    background-color:rgba(85, 85, 117, 0.589);
    margin: 0px;
    padding: 3%;
}

.attribute-values {
    font-size: 220%;
    background-color: rgba(62, 62, 128, 0.568);
}

.attribute-smaller-numbers {
    font-size: 130%;
    padding: 5%;
    outline: 1px solid black
}

.attribute-desc {
    margin-top: 5%;
    font-size: 80%;
    background-color:rgba(89, 114, 78, 0.575);
    padding: 2%;
}

#col3 {
    display: flexbox;
    border-radius: 3%;
    padding: .5%;
    outline: 1px solid black;
    width: 315px;
} 

.job-class-label {
    display: flex;
}

.listbox {
    background-color:rgba(72, 179, 72, 0.397);
    line-height: 140%;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 2%;
    padding: 2%

}

.bulletlists {
    margin-left: -20px;
    list-style: circle;
}
#col4 {
    width: 600px;
    background-color: rgba(143, 37, 37, 0.616);
    padding: .5%
}

#col4-subcol {
    display: flex;
    align-items: flex-start;
    padding: 1%;
    background-color:rgba(33, 23, 170, 0.651);
}

#col4-subcol1 {
    display: flex;
    flex-direction: column;
    background-color: purple;
    border-radius: 3%;
    padding: 1%;
    width: 50%;
}

#col4-subcol2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 65, 221);
    border-radius: 3%;
    padding: 1%;
    width: 50%;
}

#biography {
    max-height: 200px;
    overflow: auto;
}














.hidden {
    display:none;
}

.theme-light {
    --main-color: #ffffff;
    --segment-color: #f0f0f0;
    --segment-color-hover: #d6d8d9;
    --borders-color-lighter: gray;
    --text-color: black;
    --bg-color: #222222;
    --bg-color-hover: #333333;
    --quote-color: #d3e0e2;
    --quote-text: #252525;
    --quote-accent: #3c5460;
    --link-color: #204052;
    --user-link-color: #206d6a;
    --link-hover-background: #d6d9dd;
    --error-color: #a40404;
    --lines-color: #3c5460;
    --notif-color: #3e4247;
    --notif-text: #eaeaea;
    --red: #8B0000;
    --orange: #c33500;
    --yellow: #926904;
    --green: #006400;
    --blue: #191970;
    --purple: #4B0082;
    --pink: #DC143C;
    --brown: #8B4513;
    --grey: #6c6c6c;
    --teal: #008080;
    --cat-watermark: 0px;
    --item-watermark: 0px;
    --format-button-offset: 0px;
    --speech-bubble-offset: 0px;
    --clickme: #66CDAA;
    --clicked: #87CEFA;
    --fighter: #624b50;
    --thief: #4f545c;
    --guardian: #6b5e5b;
    --ranger: #5f514d;
    --medic: #4d5a5f;
    --scout: #4f5d52;
    --bard: #584f5d
   }

   .theme-dark {
    --main-color: #414243;
    --segment-color: #393b3c;
    --segment-color-hover: #343637;
    --borders-color-lighter: #2a2b2c;
    --text-color: #dfdfdf;
    --bg-color: #222222;
    --bg-color-hover: #333333;
    --quote-color: #4a5059;
    --quote-text: #eaeaea;
    --quote-accent: #1c2328;
    --link-color: #c3dded;
    --user-link-color: #ace0e1;
    --link-hover-background: #323536;
    --error-color: #ffd042;
    --lines-color: #1c2328;
    --notif-color: #3e4247;
    --notif-text: #eaeaea;
    --red: #ff9a9a;
    --orange: #ffaa8b;
    --yellow: #F0E68C;
    --green: #baea59;
    --blue: #87CEFA;
    --purple: #d1b0ff;
    --pink: #fc9ad5;
    --brown: #DEB887;
    --grey: #AAAEB0;
    --teal: #66CDAA;
    --cat-watermark: -100px;
    --item-watermark: -75px;
    --format-button-offset: 30px;
    --speech-bubble-offset: -50px;
    --clickme: #7badb6;
    --clicked: #6a779a;
    --fighter: #d5c8c9;
    --thief: #c8c3d5;
    --guardian: #d9d4c4;
    --ranger: #d9cdc6;
    --medic: #c7cfd6;
    --scout: #bfd1ce;
    --bard: #d7bfd0
   }
   html {
    font-size:62.5%;
    -webkit-text-size-adjust:100%
   }
   * {
    box-sizing:border-box;
    font-size:1.4rem;
    font-family:open sans,arial,sans-serif
   }
   b {
    font-size:inherit
   }
   i {
    font-size:inherit
   }
   body {
    background-color:var(--bg-color);
    color:var(--text-color);
    margin:0
   }
   h3 {
    font-size:1.6rem;
    margin-top:10px;
    margin-bottom:10px
   }
   img {
    image-rendering:-webkit-crisp-edges;
    image-rendering:-moz-crisp-edges;
    image-rendering:crisp-edges;
    image-rendering:pixelated;
    -ms-interpolation-mode:nearest-neighbor
   }
   span {
    color:inherit;
    font-size:inherit;
    font-family:inherit;
    text-decoration:inherit
   }
   .horizontalflex {
    display:flex;
    flex-direction:row
   }
   .wrapflex {
    flex-wrap:wrap;
    align-content:flex-start
   }
   .justify {
    justify-content:center
   }
   .catjail {
    width:100px;
    height:100px;
    background-position:var(--cat-watermark) 0;
    overflow:hidden;
    position:relative;
    margin:0 auto
   }
   .catforum {
    width:100px;
    height:100px;
    background-position:var(--cat-watermark) 0;
    overflow:hidden;
    position:relative;
   }
   .catjail-wide {
    width:500px;
    height:100px;
    overflow:hidden;
    position:relative;
    margin:auto
   }
   .catjail-nobars {
    width:100px;
    height:100px;
    overflow:hidden;
    position:relative;
    max-width:100px;
    max-height:100px
   }
   .cat-base{
    position:absolute;
    z-index:3
    }
    .cat-white{
    position:absolute;
    z-index:4
    }
    .cat-eyes{
    position:absolute;
    z-index:5
    }
    .cat-clothes{
    position:absolute;
    z-index:6
    }
    .avatar-cat-clothes{
    position:absolute;
    z-index:6
    }
    .cat-link-topper{
    z-index:7;
    position:absolute;
    left:0;
    right:0
    }
    .c-adult-shorthair-sitting{
    left:0;
    top:0
    }
    .c-adult-shorthair-standing{
    left:-100px;
    top:0
    }
    .c-adult-shorthair-playing{
    left:-200px;
    top:-2px
    }
    .c-adult-shorthair-sleeping{
    left:-300px;
    top:0
    }
    .c-adult-shorthair-upsidedown{
    left:-400px;
    top:0
    }
    .c-adult-longhair-sitting{
    left:0;
    top:-100px
    }
    .c-adult-longhair-standing{
    left:-100px;
    top:-100px
    }
    .c-adult-longhair-playing{
    left:-200px;
    top:-102px
    }
    .c-adult-longhair-sleeping{
    left:-300px;
    top:-100px
    }
    .c-adult-longhair-upsidedown{
    left:-400px;
    top:-100px
    }
    .c-kitten-shorthair-sitting{
    left:0;
    top:-200px
    }
    .c-kitten-shorthair-standing{
    left:-100px;
    top:-200px
    }
    .c-kitten-shorthair-playing{
    left:-200px;
    top:-202px
    }
    .c-kitten-shorthair-sleeping{
    left:-300px;
    top:-200px
    }
    .c-kitten-shorthair-upsidedown{
    left:-400px;
    top:-200px
    }
    .c-kitten-longhair-sitting{
    left:0;
    top:-300px
    }
    .c-kitten-longhair-standing{
    left:-100px;
    top:-300px
    }
    .c-kitten-longhair-playing{
    left:-200px;
    top:-302px
    }
    .c-kitten-longhair-sleeping{
    left:-300px;
    top:-300px
    }
    .c-kitten-longhair-upsidedown{
    left:-400px;
    top:-300px
    }
    .c-bean-shorthair-sitting{
    left:0;
    top:-400px
    }
    .c-bean-shorthair-standing{
    left:-100px;
    top:-400px
    }
    .c-bean-shorthair-playing{
    left:-200px;
    top:-400px
    }
    .c-bean-shorthair-sleeping{
    left:-300px;
    top:-400px
    }
    .c-bean-shorthair-upsidedown{
    left:-400px;
    top:-400px
    }
    .c-bean-longhair-sitting{
    left:0;
    top:-500px
    }
    .c-bean-longhair-standing{
    left:-100px;
    top:-500px
    }
    .c-bean-longhair-playing{
    left:-200px;
    top:-500px
    }
    .c-bean-longhair-sleeping{
    left:-300px;
    top:-500px
    }
    .c-bean-longhair-upsidedown{
    left:-400px;
    top:-500px
    }
    .m-adult-shorthair-sitting{
    left:0;
    top:-11px
    }
    .m-adult-shorthair-standing{
    left:-100px;
    top:-8px
    }
    .m-adult-shorthair-playing{
    left:-200px;
    top:-2px
    }
    .m-adult-shorthair-sleeping{
    left:-300px;
    top:0
    }
    .m-adult-shorthair-upsidedown{
    left:-400px;
    top:0
    }
    .m-adult-longhair-sitting{
    left:0;
    top:-111px
    }
    .m-adult-longhair-standing{
    left:-100px;
    top:-108px
    }
    .m-adult-longhair-playing{
    left:-200px;
    top:-102px
    }
    .m-adult-longhair-sleeping{
    left:-300px;
    top:-100px
    }
    .m-adult-longhair-upsidedown{
    left:-400px;
    top:-100px
    }
    .m-kitten-shorthair-sitting{
    left:0;
    top:-211px
    }
    .m-kitten-shorthair-standing{
    left:-100px;
    top:-208px
    }
    .m-kitten-shorthair-playing{
    left:-200px;
    top:-202px
    }
    .m-kitten-shorthair-sleeping{
    left:-300px;
    top:-200px
    }
    .m-kitten-shorthair-upsidedown{
    left:-400px;
    top:-200px
    }
    .m-kitten-longhair-sitting{
    left:0;
    top:-311px
    }
    .m-kitten-longhair-standing{
    left:-100px;
    top:-308px
    }
    .m-kitten-longhair-playing{
    left:-200px;
    top:-302px
    }
    .m-kitten-longhair-sleeping{
    left:-300px;
    top:-300px
    }
    .m-kitten-longhair-upsidedown{
    left:-400px;
    top:-300px
    }
    .m-bean-shorthair-sitting{
    left:0;
    top:-411px
    }
    .m-bean-shorthair-standing{
    left:-100px;
    top:-400px
    }
    .m-bean-shorthair-playing{
    left:-200px;
    top:-400px
    }
    .m-bean-shorthair-sleeping{
    left:-300px;
    top:-400px
    }
    .m-bean-shorthair-upsidedown{
    left:-400px;
    top:-400px
    }
    .m-bean-longhair-sitting{
    left:0;
    top:-511px
    }
    .m-bean-longhair-standing{
    left:-100px;
    top:-500px
    }
    .m-bean-longhair-playing{
    left:-200px;
    top:-500px
    }
    .m-bean-longhair-sleeping{
    left:-300px;
    top:-500px
    }
    .m-bean-longhair-upsidedown{
    left:-400px;
    top:-500px
    }