/*COLOUR CODES
white: #f4f4f4
grey: dcdce0
charcoal: 2e2e31
black: 222222
teal: 567f8a
dark teal: 4b6e78
light blue: c3dded
blue: 9ec5d8
light tan: e2dbd3
tan: ccc3b9
brown: 635b5c
dark brown: 554f50
*/
.popupcontainer {
    background-color:#0eb6b6;
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 999;
    top: 0;
    left: 0;
}

.copybutton {
    padding: 2%;
    font-size: 150%;
    margin: 2%;
    border-radius: 30px;
}


.popupGenes {
    background-color:#0e9b9b;
    font-size: 120%;
    word-wrap:break-word;
    width: 90%;
    height: 300px;
    margin: 5%;
    resize: none;
}

.xbutton {
    background-color: rgb(210, 0, 17);
    float: right;
    font-size: 200%;
    color: aliceblue;
    margin: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
    border-radius: 20px;
    
}

#bbcodebox {
    height: 60%;
    width: 60%;
    margin-left: 17%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: fixed;
    left: 0%;
    
}


.showbbcodebox {
    display: flex;
}

.hidebbcodebox {
    display: none;
}