   img {
    image-rendering:-webkit-crisp-edges;
    image-rendering:-moz-crisp-edges;
    image-rendering:crisp-edges;
    image-rendering:pixelated;
    -ms-interpolation-mode:nearest-neighbor
   }
   .horizontalflex {
    display:flex;
    flex-direction:row
   }
   .wrapflex {
    flex-wrap:wrap;
    align-content:flex-start
   }
   .justify {
    justify-content:center
   }
   .catjail {
    width:100px;
    height:100px;
    background-position:var(--cat-watermark) 0;
    overflow:hidden;
    position:relative;
    margin:0 auto
   }
   .catforum {
    width:100px;
    height:100px;
    background-position:var(--cat-watermark) 0;
    overflow:hidden;
    position:relative;
    display:inline-block
   }
   .catjail-wide {
    width:500px;
    height:100px;
    overflow:hidden;
    position:relative;
    margin:auto
   }
   .catjail-nobars {
    width:100px;
    height:100px;
    overflow:hidden;
    position:relative;
    max-width:100px;
    max-height:100px
   }
   .cat-base{
    position:absolute;
    z-index:3
    }
    .cat-white{
    position:absolute;
    z-index:4
    }
    .cat-eyes{
    position:absolute;
    z-index:5
    }
    .cat-clothes{
    position:absolute;
    z-index:6
    }
    .avatar-cat-clothes{
    position:absolute;
    z-index:6
    }
    .cat-link-topper{
    z-index:7;
    position:absolute;
    left:0;
    right:0
    }
    .c-adult-shorthair-sitting{
    left:0;
    top:0
    }
    .c-adult-shorthair-standing{
    left:-100px;
    top:0
    }
    .c-adult-shorthair-playing{
    left:-200px;
    top:-2px
    }
    .c-adult-shorthair-sleeping{
    left:-300px;
    top:0
    }
    .c-adult-shorthair-upsidedown{
    left:-400px;
    top:0
    }
    .c-adult-longhair-sitting{
    left:0;
    top:-100px
    }
    .c-adult-longhair-standing{
    left:-100px;
    top:-100px
    }
    .c-adult-longhair-playing{
    left:-200px;
    top:-102px
    }
    .c-adult-longhair-sleeping{
    left:-300px;
    top:-100px
    }
    .c-adult-longhair-upsidedown{
    left:-400px;
    top:-100px
    }
    .c-kitten-shorthair-sitting{
    left:0;
    top:-200px
    }
    .c-kitten-shorthair-standing{
    left:-100px;
    top:-200px
    }
    .c-kitten-shorthair-playing{
    left:-200px;
    top:-202px
    }
    .c-kitten-shorthair-sleeping{
    left:-300px;
    top:-200px
    }
    .c-kitten-shorthair-upsidedown{
    left:-400px;
    top:-200px
    }
    .c-kitten-longhair-sitting{
    left:0;
    top:-300px
    }
    .c-kitten-longhair-standing{
    left:-100px;
    top:-300px
    }
    .c-kitten-longhair-playing{
    left:-200px;
    top:-302px
    }
    .c-kitten-longhair-sleeping{
    left:-300px;
    top:-300px
    }
    .c-kitten-longhair-upsidedown{
    left:-400px;
    top:-300px
    }
    .c-bean-shorthair-sitting{
    left:0;
    top:-400px
    }
    .c-bean-shorthair-standing{
    left:-100px;
    top:-400px
    }
    .c-bean-shorthair-playing{
    left:-200px;
    top:-400px
    }
    .c-bean-shorthair-sleeping{
    left:-300px;
    top:-400px
    }
    .c-bean-shorthair-upsidedown{
    left:-400px;
    top:-400px
    }
    .c-bean-longhair-sitting{
    left:0;
    top:-500px
    }
    .c-bean-longhair-standing{
    left:-100px;
    top:-500px
    }
    .c-bean-longhair-playing{
    left:-200px;
    top:-500px
    }
    .c-bean-longhair-sleeping{
    left:-300px;
    top:-500px
    }
    .c-bean-longhair-upsidedown{
    left:-400px;
    top:-500px
    }
    .m-adult-shorthair-sitting{
    left:0;
    top:-11px
    }
    .m-adult-shorthair-standing{
    left:-100px;
    top:-8px
    }
    .m-adult-shorthair-playing{
    left:-200px;
    top:-2px
    }
    .m-adult-shorthair-sleeping{
    left:-300px;
    top:0
    }
    .m-adult-shorthair-upsidedown{
    left:-400px;
    top:0
    }
    .m-adult-longhair-sitting{
    left:0;
    top:-111px
    }
    .m-adult-longhair-standing{
    left:-100px;
    top:-108px
    }
    .m-adult-longhair-playing{
    left:-200px;
    top:-102px
    }
    .m-adult-longhair-sleeping{
    left:-300px;
    top:-100px
    }
    .m-adult-longhair-upsidedown{
    left:-400px;
    top:-100px
    }
    .m-kitten-shorthair-sitting{
    left:0;
    top:-211px
    }
    .m-kitten-shorthair-standing{
    left:-100px;
    top:-208px
    }
    .m-kitten-shorthair-playing{
    left:-200px;
    top:-202px
    }
    .m-kitten-shorthair-sleeping{
    left:-300px;
    top:-200px
    }
    .m-kitten-shorthair-upsidedown{
    left:-400px;
    top:-200px
    }
    .m-kitten-longhair-sitting{
    left:0;
    top:-311px
    }
    .m-kitten-longhair-standing{
    left:-100px;
    top:-308px
    }
    .m-kitten-longhair-playing{
    left:-200px;
    top:-302px
    }
    .m-kitten-longhair-sleeping{
    left:-300px;
    top:-300px
    }
    .m-kitten-longhair-upsidedown{
    left:-400px;
    top:-300px
    }
    .m-bean-shorthair-sitting{
    left:0;
    top:-411px
    }
    .m-bean-shorthair-standing{
    left:-100px;
    top:-400px
    }
    .m-bean-shorthair-playing{
    left:-200px;
    top:-400px
    }
    .m-bean-shorthair-sleeping{
    left:-300px;
    top:-400px
    }
    .m-bean-shorthair-upsidedown{
    left:-400px;
    top:-400px
    }
    .m-bean-longhair-sitting{
    left:0;
    top:-511px
    }
    .m-bean-longhair-standing{
    left:-100px;
    top:-500px
    }
    .m-bean-longhair-playing{
    left:-200px;
    top:-500px
    }
    .m-bean-longhair-sleeping{
    left:-300px;
    top:-500px
    }
    .m-bean-longhair-upsidedown{
    left:-400px;
    top:-500px
    }