div {
    font-family: "Courier New";
}

button {
    font-family: "Courier New";
    font-size: 250%
}

#container {
    border-radius: 15% 10%;
    margin: .5%;
    padding: 3%;
    background-color:rgb(46, 46, 49);
 }


#logo {
    position: absolute;
    padding-left: 8%;
    max-width: 10%;
}

#sidebar {
    position:absolute;
    top: 8%;
    right: 8%;
    max-height: 20%;
}

#title-sign {
    padding-left: 10%;
    max-width: 70%;
}

#madeby {
    color:rgb(123, 148, 170);
    size: auto;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 0px;
    padding-top: 0px;
}

#help-div {
    text-align: end;
    margin-top: 1%;
}

#help {
    max-width: 5vw;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content:center;
    
}

.btn-group button {
    background-color: rgb(86, 127, 139); /* Green background */
    color: white; /* White text */
    padding: 4% 3%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 30%;
    margin: .9%;
    font-size: 3vw;
    border-radius: 10% 15%
}

.btn-group img {
    width: 10vw;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

  /* Add a background color on hover */
.btn-group button:hover {
    background-color: #1f5d61;

}

#helptextbox {
    margin-top: 4%;
    padding: 1.5%;
    border-radius: 10% 10%;
    background-color: rgb(29, 31, 36);
    color:aliceblue;
    font-size: 150%;
}

a {
    color: rgb(105, 171, 228);
}