/* Comments work like this */
.testplantbox {
    width: 300px;
    height: 300px;
}

table {
    padding: .5%;
}

td {
    border: 1px solid;
    text-align: center;
}

.display td:first-child {
    background-color: rgba(188, 255, 182, 0.473)
}

.input {
    background-color: rgba(132, 175, 209, 0.336);
    height: 160px;
    width: 80%

}

#submit {
    padding: 40px;
    float: right;
    width: 18%
}

body {
    background-color:rgb(29, 24, 24);
    color:rgb(255, 237, 243)
}

.recessive {
    background-color: rgba(255, 255, 0, 0.438);
}