/* Comments work like this */
.testplantbox {
    width: 300px;
    height: 300px;
}

table {
    padding: .5%;
}

td {
    border: 1px solid;
    text-align: center;
}

.display td:first-child {
    background-color: rgb(255, 255, 182)
}

.input {
    background-color: rgba(132, 175, 209, 0.336);
    height: 160px;
    width: 80%

}

#submit {
    padding: 40px;
    float: right;
    width: 18%
}