/* Comments work like this */
.test {
    background-color:rgb(71, 104, 52);
    padding: 15px;
    font-size: 24px;
    width: 40%;
    overflow-wrap: break-word;
}

#submit {
    width: 100%;
    height: 100px;
    font-size: 24px;
    background-color:rgb(73, 168, 44);
}

.input {
    width: 100%;
    height: 600px;
    max-height:700px;
    overflow: normal;
    background-color:rgb(50, 82, 58);
    color:rgb(255, 237, 243);
}

body {
    background-color:rgb(17, 17, 17);
    color:rgb(255, 237, 243)
}

#entryarea {
    width: 40%;
    float: right;
}
#testbox {
    float: left;
    width: 58%
}


.display {
    max-height: 700px;
    overflow: scroll;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-width: 2px;
    background-color:rgb(50, 82, 58);
    border-color: rgb(14, 19, 10);
}

table {
    padding: 10%;
    
}

th {
    text-align: left;
    padding: 3%;
}

td {
    width: 20%;
    padding: 1%;
    border: 1px solid;
}