body {
    background-color:rgb(17, 17, 17);
    color:rgb(255, 237, 243)
}

#container {
    background-color:rgb(124, 51, 75);
    display: flex;
    border-radius: 5%;
}

#col1 {
    background-color:rgb(71, 26, 26);
    padding: 1%;
    border-radius: 5%;
}

.kitten-weights {
    display: flex;
    justify-content: space-between;
}
